extends layout

block content
  include author
  each article in articles
    article.post
      h1
        a(href=article.url)= article.title
      .byline #{ moment(article.date).format('D MMMM YYYY') }
      //- mixin author(article.metadata.author)
      section.content!= article.intro
      if article.hasMore
        p.read-more
          a(href=article.url) read more
      a(href=article.url + '#comment')
        .comment
          i comment
