block footer
  .footer
    nav
      p
        = locals.owner
        for item in locals.footer
          //- a(href=item.url, title=item.description, class=(item.url.indexOf(page.url)) > -1 ? "active" : "")
          a(href=item.url, title=item.description)
            | #{ item.name }
